#header {
	border-bottom: 1px solid $border;
	.container2 {
		padding: 46px 0 26px;
		.header {
			&_logo {
				width: 110px;
				height: 20px;
				line-height: 1;
				margin: 0 auto 36px;
				a {
					display: block;
				}
			}
			&_nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: .75rem;
				&_left {
					display: flex;
					align-items: center;
					li {
						margin-right: 14px;
						&:last-child {
							margin-right: 0;
						}
					}
				}
				&_right {
					@extend .header_nav_left;
				}
			}
		}
	}
}

main {
	.container2 {
		padding: 50px 0 100px;
		display: flex;
		align-items: flex-start;
		img {
			width: 400px;
			height: 500px;
			margin-right: 60px;
		}
		.item {
			h2 {
				border-top: 1px solid $border;
				border-bottom: 1px solid $border;
				padding: 22px 0;
				margin-bottom: 20px;
			}
			p {
				font-size: .75rem;
				margin-bottom: 30px;
				line-height: 1.5rem;
			}
			.table1 {
				width: 100%;
				margin-bottom: 20px;
				tr {
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						border-top: 1px solid $border;
					}
					th,
					td {
						padding: 10px;
						font-size: .75rem;
						font-weight: normal;
						text-align: center;
						&:nth-child(1),
						&:nth-child(2) {
							border-right: 1px solid $border;
							width: 20%;
						}
					}
					select {
						width: 100%;
						border: 1px solid $border;
						font-size: .75rem;
						padding-left: 10px;
					}
				}
			}
			.btn {
				display: block;
				text-align: center;
				width: 100%;
				background: $btn_bg;
				color: $btn_txt;
				font-size: .75rem;
				padding: 18px 0;
				margin-bottom: 30px;
			}
			.table2 {
				width: 100%;
				border: 1px solid $border;
				tr {
					&:first-child {
						background: $table_bg;
					}
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						border-top: 1px solid $border;
					}
					th,
					td {
						font-size: .75rem;
						font-weight: normal;
						text-align: center;
						padding: 12.5px;
						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3) {
							border-right: 1px solid $border;
						}
						&:first-child {
							background: $table_bg;
							width: 15%;
						}
					}
				}
			}
		}
	}
}

#footer {
	padding: 10px 0;
	text-align: center;
	p {
		font-size: .5rem;
	}
}